.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 405px}
.u-section-1 .u-text-1 {width: 680px; margin: 60px 230px 0}
.u-section-1 .u-line-1 {width: 100px; height: 3px; margin: 30px auto 0}
.u-section-1 .u-text-2 {width: 680px; margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 130px; margin-right: 130px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-left: 20px; margin-right: 20px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {width: 540px; margin-left: auto; margin-right: auto}
.u-section-1 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {width: 340px}
.u-section-1 .u-text-2 {width: 340px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 632px}
.u-section-2 .u-list-1 {width: 871px; min-height: 375px; grid-template-columns: 100%; grid-template-rows: auto auto auto; height: auto; margin: 60px auto}
.u-section-2 .u-container-layout-1 {padding: 10px 30px}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 17px auto 0 0}
.u-section-2 .u-text-1 {font-weight: 700; letter-spacing: 2px; margin: -64px auto 0 94px}
.u-section-2 .u-text-2 {margin: 23px 9px 0 94px}
.u-section-2 .u-container-layout-2 {padding: 10px 30px}
.u-section-2 .u-icon-2 {height: 64px; width: 64px; background-image: none; margin: 0 auto 0 0}
.u-section-2 .u-text-3 {font-weight: 700; letter-spacing: 2px; margin: -64px auto 0 94px}
.u-section-2 .u-text-4 {margin: 23px 9px 0 94px}
.u-section-2 .u-container-layout-3 {padding: 10px 30px}
.u-section-2 .u-icon-3 {height: 64px; width: 64px; background-image: none; margin: 17px auto 0 0}
.u-section-2 .u-text-5 {font-weight: 700; letter-spacing: 2px; margin: -64px auto 0 94px}
.u-section-2 .u-text-6 {margin: 23px 9px 0 94px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 708px}
.u-section-2 .u-list-1 {min-height: 479px; gap: 10px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 659px}
.u-section-2 .u-list-1 {width: 720px; min-height: 430px}
.u-section-2 .u-icon-1 {margin-top: 25px; margin-right: 596px}
.u-section-2 .u-text-1 {width: auto; margin-top: -79px}
.u-section-2 .u-text-2 {width: auto; margin-top: 21px; margin-right: 0}
.u-section-2 .u-icon-2 {margin-top: 25px; margin-right: 596px}
.u-section-2 .u-text-3 {width: auto; margin-top: -79px}
.u-section-2 .u-text-4 {width: auto; margin-top: 21px; margin-right: 0}
.u-section-2 .u-icon-3 {margin-top: 25px; margin-right: 596px}
.u-section-2 .u-text-5 {width: auto; margin-top: -79px}
.u-section-2 .u-text-6 {width: auto; margin-top: 21px; margin-right: 0} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 551px}
.u-section-2 .u-list-1 {width: 540px; min-height: 322px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-icon-1 {margin-top: 0; margin-right: auto}
.u-section-2 .u-text-1 {margin-top: -72px; margin-left: 89px}
.u-section-2 .u-text-2 {margin-top: 6px; margin-left: 89px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-icon-2 {margin-top: 0; margin-right: auto}
.u-section-2 .u-text-3 {margin-top: -72px; margin-left: 89px}
.u-section-2 .u-text-4 {margin-top: 6px; margin-left: 89px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-icon-3 {margin-top: 0; margin-right: auto}
.u-section-2 .u-text-5 {margin-top: -72px; margin-left: 89px}
.u-section-2 .u-text-6 {margin-top: 6px; margin-left: 89px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 674px}
.u-section-2 .u-list-1 {min-height: 448px; margin-top: 141px; margin-bottom: 30px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-1 {margin-top: -101px; margin-right: 0; margin-left: 94px}
.u-section-2 .u-text-2 {margin-left: 94px}
.u-section-2 .u-text-3 {margin-top: -101px; margin-right: 0; margin-left: 94px}
.u-section-2 .u-text-4 {margin-left: 94px}
.u-section-2 .u-text-5 {margin-top: -101px; margin-right: 0; margin-left: 94px}
.u-section-2 .u-text-6 {margin-left: 94px} }